body{
  font-family: Montserrat, Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #AE7C78;
}
h1{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 59px;
}
h2{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}
li{
  display:inline-block;
}
.toa {
  text-decoration: none;
  color: #ae7c78;
  list-style-type: none;
  margin-right: 20px;
  }
  .logo{
    width: 100,01px;
    height: 32,29px;
    background-image: url(img/logotip.svg);
  }
  .podtext{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;

  }
  .button {
    padding:0px;
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 40px;
    background-color: #d89999;
    color: #ffffff;
    height: 80px;
    width: 285px;
  }
  .catalogsection{
    width: 387px;
    height: 442px;
    border-radius: 10px;
    margin-right: 19px;
    color:#ffffff;
    text-decoration: none;
    text-align: center;
    box-shadow: inset 0 0 0 200px rgba(174,124,120,0.6);
    background-repeat: no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  .catalogsection:first-child{
    background-image: url("img/BUKET4.jpg");
  }
  .catalogsection:nth-child(2){
    background-image: url("img/buket5.jpg");
  }
  .catalogsection:last-child{
    background-image: url("img/buket6.jpg");
  }
  .news{
    width: 600px;
    height: 460px;
    display:flex;
    background-repeat: no-repeat;
    background-color:#AE7C78;
    color:#ffffff
  }
  .news:first-child{
    background-image: url("img/buket10.jpg");
  }
  .news:nth-child(2){
    background-image: url("img/buket9.jpg");
  }
  .news:last-child{
    background-image: url("img/buket8.jpg");
  }
  .rewiew{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  }
.foo{
  color:#ffffff;
  background-color:#AE7C78;
  width: 1440px;
  height:97px;
}
.toa1 {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  list-style-type: none;
  margin-right:20px;
}